<!-- Simple form to update account  -->
    <h1> Update Account </h1>

    <br><br>
    <form method="POST" action="/auth/update">
    
        <input type="hidden" name="userType" class="form-control" value="<%= user.userRole %>"/>  
        <input type="hidden" name="_id" class="form-control" value="<%= user._id %>"/> 
    
        <!-- basic user info -->
            <div>
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstNameInput" name="firstName" value="<%= user.firstName %>">
            </div>
            <br>
            <div>
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastNameInput" name="lastName"  value="<%= user.lastName %>">
            </div>
            <br>
    
        <!-- basic seller info -->
                <div class="sellerUpdate">
                    <label for="sellerName">Seller Name</label>
                    <input type="text" class="form-control" id="sellerNameInput" name="sellerName"  value="<%= seller.sellerName %>">
                    <br>
                </div>
                <div class="sellerUpdate">
                    <label for="exampleFormControlTextarea1">Seller Bio</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="bio"><%= seller.bio%></textarea>
                    <br>
                </div>
                <!-- <label  for="image"> Upload a header image for your seller page</label><br>
                <input  type="file" id="image" name="headerPhoto"> -->

        <!-- security info -->
            <div>
                <label for="emailAddress">Email address</label>
                <input type="email" class="form-control" id="emailAddressInput" name="emailAddress"   value="<%= user.emailAddress %>">
            </div>
            <br>
           <button type="submit" class="btn btn-primary mb-2">Update Account Information</button>
        </div>
    
    </form>


    <script>
        let seller = '<%-seller%>'

        $(document).ready(function() {
        (seller === "")? $('.sellerUpdate').hide(): $('.sellerUpdate').show()
        })
            
    </script>