<h1> Edit product </h1>

<form method="POST" action="/product/update?_method=PUT">

    <div class="form-group">
        <label>Title</label>
        <input  name="title" value="<%= product.title %>" class="form-control"/>
    </div>
    <div>
        <label>Description</label>
        <input  name="subTitle" value="<%= product.subTitle %>"  class="form-control"/>
    </div>
    <div>
        <label>Description</label>
        <input  name="description" value="<%= product.description %>"  class="form-control"/>
    </div>
    <div>
        <label>Condition</label>
        <input  name="condition" value="<%= product.condition %>"  class="form-control"/>
    </div>
    <div>
        <label>Price</label>
        <input  name="price" value="<%= product.price %>"  class="form-control"/>
    </div>
    <div>
        <label>Category</label>
        <input  name="category" value="<%= product.category %>"  class="form-control"/>
    </div>
    <div>
        <label>Subcategory</label>
        <input  name="subCategory" value="<%= product.subCategory %>"  class="form-control"/>
    </div>
    <div>
        <label>Shipping Rate</label>
        <input  name="shippingRate" value="<%= product.shippingRate %>"  class="form-control"/>
    </div>
    <div>
        <label>Returns</label>
        <input  name="returnsPolicy" value="<%= product.returnsPolicy %>"  class="form-control"/>
    </div>
    <div>
        <label>Seller</label>
        <input  name="seller" value="<%= product.seller %>"  class="form-control"/>
    </div>
    <div>
        <label>Favourite</label>
        <input  name="favourite" value="<%= product.favourite %>"  class="form-control"/>
    </div>
    <div>
        <label>Transaction ID</label>
        <input  name="transactionID" value="<%= product.transactionID %>"  class="form-control"/>
    </div>
    <input type="hidden" name="id" value="<%= product._id %>" />
    <br>
    <button type="submit" class="btn btn-primary">Edit product</button>
    
</form>