<div>
    <div>
        <h3><%= product.title %></h3>
    </div>

    <div>
        Subtitle: <%= product.subTitle %>
    </div>
    <div>
       Description: <%= product.description %>
    </div>
    <div>
        Created At: <%= moment(product.createdAt).fromNow() %>
    </div>

        <% product.seller.forEach(function(seller) { %>
        <hr>
        <div>
            Seller
            <div>Name: <%= seller.sellerName %></div>
        </div>
        <% }) %>


</div>